@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #ffb34f;
  --foreground-color: #404040;
  --success-color: #84cc16;
  --danger-color: #ef5844;
}

a {
  font-weight: 500;
  color: var(--foreground-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}
a.active {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: var(--foreground-color);
  background-color: #ffffff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  /* Center content regardless if vertical scrollbar appears or not */
  width: 100vw;
  margin-right: calc(100vw - 100%);
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.transition-fill-animation {
  transition: fill 0.3s;
}

@keyframes expand-active-set {
  from {
    top: calc(100vh - 4rem);
    height: 5rem;
  }
  to {
    top: 4rem;
    height: calc(100vh - 4rem);
  }
}

@keyframes shrink-active-set {
  from {
    top: 4rem;
    height: calc(100vh - 4rem);
  }
  to {
    top: calc(100vh - 5rem);
    height: 5rem;
  }
}

.active-set-animation-expand {
  animation: expand-active-set 0.1s;
}

.active-set-animation-shrink {
  animation: shrink-active-set 0.1s;
}
