@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-color: theme("colors.neutral.700");
  --success-color: theme("colors.success");
  --danger-color: theme("colors.danger");
  --foreground-hover-color: theme("colors.stone.400");
  --secondary-color: theme("colors.secondary");
}

a {
  font-weight: 500;
  color: var(--foreground-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--foreground-hover-color);
}
a.active {
  color: #d4aa1e;
}
.nav-menu-dropdown-item-link:hover {
  color: var(--foreground-color);
}

.nav-menu-dropdown-item:hover .nav-menu-dropdown-item-link {
  color: var(--foreground-color);
  /* Properties of Tailwind's 'transition-colors' class, which NextUI DropdownItem uses */
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav-menu-trigger-button {
  transition: none !important;
}

.nav-menu-trigger-button:hover svg {
  fill: var(--foreground-hover-color);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: var(--foreground-color);
  background-color: #ffffff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  /* Center content regardless if vertical scrollbar appears or not */
  width: 100vw;
  margin-right: calc(100vw - 100%);
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.transition-fill-animation {
  transition: fill 0.3s;
}

@keyframes expand-active-set {
  from {
    top: calc(100vh - 4rem);
    height: 5rem;
  }
  to {
    top: 4rem;
    height: calc(100vh - 4rem);
  }
}

@keyframes shrink-active-set {
  from {
    top: 4rem;
    height: calc(100vh - 4rem);
  }
  to {
    top: calc(100vh - 5rem);
    height: 5rem;
  }
}

.active-set-animation-expand {
  animation: expand-active-set 0.1s;
}

.active-set-animation-shrink {
  animation: shrink-active-set 0.1s;
}

/* https://css-scroll-shadows.vercel.app/ */
.scroll-gradient {
  background: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(156, 156, 156, 0.5),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(156, 156, 156, 0.5),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 54px, 100% 54px, 100% 18px, 100% 18px;
}

.multiset-divider {
  border-top: 1px solid theme("colors.stone.400") !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

#exercise-details-tabs {
  display: grid;
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
  column-gap: 4px;
  row-gap: 2px;
}

#exercise-details-tabs:has(:only-child) {
  display: block;
}

#exercise-details-tabs:has(:only-child) > * {
  width: 100%;
}

#exercise-details-tab-0 {
  grid-area: a;
}

#exercise-details-tab-1 {
  grid-area: b;
}

#exercise-details-tab-2 {
  grid-area: c;
}

#exercise-details-tab-3 {
  grid-area: d;
}

#exercise-details-tab-4 {
  grid-area: e;
}
